#calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
}

#calendar-header button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

#calendar-body {
  border-collapse: collapse;
  width: 100%;
}

#calendar-body td,
#calendar-body th {
  border: 1px solid lightgray;
  text-align: center;
  width: 14%;
  height: 3rem;
}

#calendar-days .today {
  background-color: lightblue;
}
